*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
.navbar {
    position: sticky;
    padding: .5rem 1rem;
    background-color: rgb(255, 245, 224);
}
.navbar-brand {
    color:rgb(104, 104, 104);
    padding: .3125rem;
    margin-right: 0.5rem;
    font-size: 1.5rem;
    display: inline-block;
    line-height: inherit;
    white-space: nowrap;
    text-decoration: none;
 }
 .navbar-brand:hover {
    color:black; 
 }
 .navbar-brand:active {
    color:rgb(255, 109, 109); 
 }

 .navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    border: 1px solid transparent;
    border-radius: .25rem;
    background-color: rgb(255, 230, 194);
}
.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-color: rgb(255, 230, 194);
    background-size: 100% 100%;
    background-image: url("../imgs/toggle.png");
}
.navbar-expand-lg{
    display: flex!important;
    flex-basis: auto;
}
 .navbar-collapse{
    display: flex!important;
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
 }
.navbar-nav{
    display: flex;
    flex-direction: row;
    list-style: none;
}
.nav-item{
    list-style: none;
    display: block;
}
.nav-link{
    text-decoration: none;
    padding: .5rem 1rem;
    color:rgb(104, 104, 104);
    font-size: 1rem;
}
.nav-link:hover {
    color:black; 
 }
 .nav-link:active {
    color:rgb(255, 109, 109); 
 }

.main-info {
    background-image: url("../imgs/trial2.jpg");
    background-repeat: no-repeat;
    height: 92vh;
    background-size: cover; 
    width: 100%;
}
.column{
    width: 700px;
    padding-left: 6rem;
    padding-top: 4rem;
    align-items: center;
    column-count: 1;
    column-width: 10px;
}
@media screen and (max-width: 800px) {
    .column {
      width: 100%;
      padding-right: 4rem;
    }
}
.column__title{
    font-size: 40px;
}
.column__subtitle{
    font-size: 28px;
    font-style: italic;
    font-weight: 500; 
}
.column__description{
    padding-top: 2rem;
    font-size: 20px;
    font-weight: 400;
    text-align: justify;
    text-indent: 1.5rem;
    line-height: 2rem;
}
